@charset "UTF-8";
@import "reset.scss";

header {
    background: #f4f3ef;
    h1 {
        padding: 4vh; 
        text-align: center; 
    }
    nav {
        border-top: 1px solid #ccc;
        border-bottom: 4px solid #333;
        .inner {
            width: 1180px;
            margin: 0 auto;
            position: relative;
            #gnb {
                &::after { 
                    content: ''; 
                    display: block; 
                    clear: both;
                }
                li { 
                    float: left; 
                    width: 20%;
                    position: relative;
                    &:first-of-type::before {
                        display: none;
                    }
                    &::before {
                        content: '';
                        display: block;
                        width: 1px;
                        height: 20px;
                        position: absolute;
                        top: 50%; left: 0;
                        margin-top: -10px;
                        background: #ccc;
                    }
                    a {
                        display: block;
                        text-align: center;
                        padding: 16px 0;
                        font: 18px/1 'arial';
                        color: #333;
                    }
                }
            }
            .search {
                position: absolute;
                top: 0; right: 0;
            }
        }
    }

}